.left {
  float: left;
}

.right {
  float: right;
}

textarea, div.right {
  width: 48%;
  height: 100%;
}

#markdown,#html{
  font-weight: bold;
}

h1 {
  text-align: center;
  color:blue;
  font-style: italic;
}

#button{
  background-color: gray;
}

#button1{
  font-weight: bolder;
  font-size: 1.1em;
}

#button2{
  font-weight: bolder;
  font-size: 1.1em;
  font-style: italic;
}

p {
  font-weight: normal;
}

#editor {
       position: absolute;
       width: 500px;
       height: 400px;
   }
